In [1]:
%matplotlib inline
import json 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
universal_f = "class_mapping/universal_classes.csv"

In [3]:
import pandas as pd

In [5]:
u_data = pd.read_csv(universal_f, delimiter=";")

In [20]:
cls = u_data["class_id"]

In [11]:
new_cls = u_data["Unnamed: 3"]

In [24]:
len(new_cls)

190

In [21]:
u_cls_new_cls = dict(zip(cls, new_cls))

In [180]:
input_file = "class_mapping/playing_for_data_class_mapping.csv"

In [181]:
dataset_f = input_file

In [182]:
d_data = pd.read_csv(dataset_f, delimiter=";")

In [183]:
d_cls = d_data["universal_class_id"]

In [184]:
d_cls_new_cls = [u_cls_new_cls[k] for k in d_cls]

In [185]:
d_data["universal_class_id"] = d_cls_new_cls

In [186]:
d_data

,dataset_label_id,dataset_class_name,universal_class_id,universal_class_name,note
0,0,unlabeled,0,ignore,NaN
1,1,Ego vehicle,9,ego_vehicle,NaN
2,2,Rectification border,0,ignore,TBD
3,3,Out of roi,0,Ignore,TBD
4,4,static,0,static,NaN
5,5,dynamic,0,dynamic,NaN
6,6,ground,0,ground,NaN
7,7,road,13,road,NaN
8,8,sidewalk,14,sidewalk,NaN
9,9,parking,15,parking,NaN
10,10,rail_track,16,rail_track,NaN
11,11,building,27,building,NaN
12,12,wall,29,wall,NaN
13,13,fence,28,fence,NaN
14,14,guard_rail,32,guard_rail,NaN
15,15,bridge,30,bridge,NaN
16,16,tunnel,31,Tunnel,NaN
17,17,pole,38,pole,NaN
18,18,polegroup,39,utilitypole,NaN
19,19,traffic_light,41,traffic_light,NaN
20,20,traffic_sign,40,traffic_sign,NaN
21,21,vegetation,34,vegetation,NaN
22,22,terrain,35,terrain,NaN
23,23,sky,36,sky,NaN
24,24,person,56,person,NaN
25,25,rider,57,Motorcyclist,TBD
26,26,car,1,car,NaN
27,27,truck,4,truck,NaN
28,28,bus,3,bus,NaN
29,29,caravan,6,caravan,NaN
30,30,trailer,7,trailer,NaN
31,31,train,5,train,NaN
32,32,motorcycle,8,motorcycle,NaN
33,33,bicycle,2,bicycle,NaN
34,34,license_plate,0,ignore,NaN

In [187]:
# universal to data

In [188]:
d_data["universal_to_dataset"].tolist()

KeyError: 'universal_to_dataset'

In [163]:
ll = []
for k in d_data["universal_to_dataset"].tolist():
    if pd.isna(k):
        ll.append(np.nan)
        continue
    k_i = k.split(",")
    temp_str = ""
    for i in k_i:
        i = int(i)
        new_i = u_cls_new_cls[i]
        if len(k_i) >1 and new_i ==0:
            continue
        if temp_str == "":
            temp_str += str(new_i)
        else:
            temp_str += "," + str(new_i)
    ll.append(temp_str)

In [164]:
ll

['0',
 '29',
 '62',
 '66',
 '64,102',
 '70,79,118',
 '72',
 '68,108',
 '67',
 '65',
 '73',
 '71',
 '91',
 '81',
 '69',
 '95',
 '178',
 '109',
 '92',
 '85',
 '179,90,83']

In [165]:
d_data["universal_to_dataset"] = ll

In [166]:
header = d_data.columns.tolist()

In [189]:
d_data.to_csv(input_file, sep=";", index=False)

In [190]:
pd.read_csv(input_file, sep=";")

,dataset_label_id,dataset_class_name,universal_class_id,universal_class_name,note
0,0,unlabeled,0,ignore,NaN
1,1,Ego vehicle,9,ego_vehicle,NaN
2,2,Rectification border,0,ignore,TBD
3,3,Out of roi,0,Ignore,TBD
4,4,static,0,static,NaN
5,5,dynamic,0,dynamic,NaN
6,6,ground,0,ground,NaN
7,7,road,13,road,NaN
8,8,sidewalk,14,sidewalk,NaN
9,9,parking,15,parking,NaN
10,10,rail_track,16,rail_track,NaN
11,11,building,27,building,NaN
12,12,wall,29,wall,NaN
13,13,fence,28,fence,NaN
14,14,guard_rail,32,guard_rail,NaN
15,15,bridge,30,bridge,NaN
16,16,tunnel,31,Tunnel,NaN
17,17,pole,38,pole,NaN
18,18,polegroup,39,utilitypole,NaN
19,19,traffic_light,41,traffic_light,NaN
20,20,traffic_sign,40,traffic_sign,NaN
21,21,vegetation,34,vegetation,NaN
22,22,terrain,35,terrain,NaN
23,23,sky,36,sky,NaN
24,24,person,56,person,NaN
25,25,rider,57,Motorcyclist,TBD
26,26,car,1,car,NaN
27,27,truck,4,truck,NaN
28,28,bus,3,bus,NaN
29,29,caravan,6,caravan,NaN
30,30,trailer,7,trailer,NaN
31,31,train,5,train,NaN
32,32,motorcycle,8,motorcycle,NaN
33,33,bicycle,2,bicycle,NaN
34,34,license_plate,0,ignore,NaN